
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/

venv/
.venv/
env/
ENV/


.env
.env.*
*.env

faiss_index/
*.faiss
*.pkl

.cache/
.cache/huggingface/
.cache/torch/
.cache/sentence_transformers/
hf_cache/

logs/
tf_logs/
lightning_logs/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.history/
*.log
*.tmp
*.bak
*.swp

uploads/
documents/
data/raw/
data/processed/
